html, body {
    width: 100%;
}

body {
    color: #003459;
    background-color: #FFFFFF;
    padding: 0;
}

.link-to-top {
    text-decoration: none;
    font-size: 20px;
}

#navBar {
    margin-top: -10px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 50vw 1fr 30vw;
}

.nav-name {
    grid-column: 1;
    font-size: 30px;
}

.nav-list-container {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.nav-single-item {
    list-style: none;
    display: inline;
    margin: auto 0 auto 20px;
    font-size: 25px;
}

.nav-link {
    text-decoration: none;
    color: #003459;
}

.nav-link:hover {
    color: #00A7E1;
}

/*      Introduction        */

#intro {
    text-align: center;
    margin: 150px auto 200px auto;
}

.intro-title {
    font-size: 60px;
}

.intro-action {
    font-size: 45px;
}

.intro-link {
    display: block;
    margin: 50px auto;
    font-size: 25px;
    width: 150px;
    padding: 20px;
    background-color: #003459;
    text-decoration: none;
    color: #FFFFFF;
}

.intro-link:hover {
    background-color: #00A7E1;
}

/*      About       */

#about {
    padding: 50px 80px 80px 80px;
    margin: auto -15px auto -15px;
    text-align: center;
    background-color: #003459;
    color: #FFFFFF;
}

.about-title {
    font-size: 60px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 2px solid #FFFFFF;
}

.about-message {
    font-size: 40px;
    padding: 50px 50px 0 50px;
}

#about .link-to-top {
    color: #FFFFFF;
}

#about .link-to-top:hover {
    color: #00A7E1;
}

/*      Projects        */

#projects {
    padding: 50px 80px 80px 80px;
    margin: auto -15px auto -15px;
    text-align: center;
}

.projects-title {
    font-size: 60px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 2px solid #003459;
}

.projects-container {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.proj-single {
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    background-color: #00171F;
    color: #00A7E1;
    border-radius: 10px;
}

.proj-title {
    font-size: 25px;
    margin-top: 270px;
    transition: margin .5s, font-size .5s;
}

.proj-desc {
    font-size: 20px;
}

.proj-single:hover .proj-title {
    margin-top: 20px;
    font-size: 40px
}

.proj-single:hover {
    cursor: pointer;
}

#projects .link-to-top {
    color: #003459;
}

#projects .link-to-top:hover {
    color: #00A7E1;
}