html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #003459;
    background-color: #FFFFFF;
    font-family: 'Sen', sans-serif;
}

.link-to-top {
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 700px) {
    .link-to-top {
        font-size: 18px;
    }
}

/*      NavBar      */

#navBar {
    margin-top: -10px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 50vw 1fr 30vw;
}

.nav-name {
    grid-column: 1;
    font-size: 30px;
}

.nav-list-container {
    grid-column: 3;
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.nav-single-item {
    list-style: none;
    display: inline;
    margin: auto 0 auto 20px;
    font-size: 25px;
}

.nav-link {
    text-decoration: none;
    color: #003459;
}

@media (min-width: 700px) {
    .nav-list-container {
        grid-column: 3;
        display: flex;
        padding-right: 20px;
    }

    .icon {
        display: none;
    }

    .nav-link:hover {
        color: #00A7E1;
    }
}

@media (max-width: 700px) {
    #navBar {
        display: block;
    }

    .fa {
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px;
    }

    i {
        background-color: #003459;
        padding: 10px;
        color: #FFFFFF;
    }

    .nav-list-container {
        display: none;
        width: max-content;
        padding: 0;
        margin: auto;
    }

    .nav-single-item {
        margin: auto 5px;
        font-size: 25px;
    }

    .nav-link:active {
        color: #00A7E1;
    }
}

/*      Introduction        */

#intro {
    text-align: center;
    margin: 150px auto 200px auto;
}

.intro-title {
    font-size: 60px;
}

.intro-action {
    font-size: 45px;
}

.intro-link {
    display: block;
    margin: 50px auto;
    font-size: 25px;
    width: 150px;
    padding: 20px;
    background-color: #003459;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
}

@media (min-width: 700px) {
    .intro-link:hover {
        background-color: #00A7E1;
    }
}

@media (max-width: 700px) {
    #intro {
        margin: 50px auto 100px auto;
        padding: 10px;
    }

    .intro-title {
        font-size: 40px;
    }

    .intro-action {
        font-size: 25px;
    }

    .intro-link:active {
        background-color: #00A7E1;
    }
}

/*      About       */

#about {
    padding: 50px 80px 80px 80px;
    margin: auto;
    text-align: center;
    background-color: #003459;
    color: #FFFFFF;
}

.about-title {
    font-size: 60px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 2px solid #FFFFFF;
}

.about-message {
    font-size: 40px;
    padding: 50px 20px 0 20px;
    margin-bottom: 80px;
}

#about .link-to-top {
    color: #FFFFFF;
}

@media (min-width: 700px) {
    #about .link-to-top:hover {
        color: #00A7E1;
    }
}

@media (max-width: 700px) {
    #about {
        padding: 40px 20px 60px 20px;
    }

    .about-title {
        font-size: 50px;
    }

    .about-message {
        font-size: 25px;
        padding: 10px;
        margin-bottom: 30px;
    }

    #about .link-to-top:active {
        color: #00A7E1;
    }
}

/*      Projects        */

#projects {
    padding: 50px 80px 80px 80px;
    margin: auto;
    text-align: center;
}

.projects-title {
    font-size: 60px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 2px solid #003459;
}

.projects-container {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.proj-single {
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    width: 200px;
    height: 300px;
    overflow: hidden;
    background-color: #00171F;
    color: #00A7E1;
    border-radius: 10px;
}

.proj-title {
    font-size: 25px;
    margin-top: 270px;
}

.proj-desc {
    font-size: 20px;
}

.proj-single:hover {
    cursor: pointer;
}

@media (min-width: 700px) {
    .proj-title {
        transition: margin .5s, font-size .5s;
    }

    .proj-desc {
        transition: margin .5s;
    }

    .proj-single:hover .proj-title {
        margin-top: 0;
        font-size: 40px;
    }
    
    .proj-single:hover .proj-desc {
        margin: -20px auto 25px auto;
    }

    #projects .link-to-top:hover {
        color: #00A7E1;
    }
}

.tech-list {
    padding: 10px;
    border-radius: 10px;
    background-color: #00A7E1;
}

.tech-logo {
    filter: contrast(200%);
    margin: 0 10px;
}

#projects .link-to-top {
    color: #003459;
}

@media (max-width: 700px) {
    #projects {
        padding: 40px 20px 60px 20px;
    }

    .projects-title {
        font-size: 50px;
    }

    .proj-single {
        width: 250px;
        height: 380px;
    }

    .proj-title {
        margin-top: 0;
        font-size: 40px;
    }

    .proj-desc {
        margin: -10px auto 30px auto;
        font-size: 25px;
    }

    .tech-logo {
        height: 40px;
        width: 40px;
    }

    #projects .link-to-top:active {
        color: #00A7E1;
    }
}

/*      Skills      */

#skills {
    padding: 50px 80px 80px 80px;
    margin: auto;
    text-align: center;
    background-color: #003459;
    color: #FFFFFF;
}

.skills-title {
    font-size: 60px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 2px solid #FFFFFF;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    margin: 60px auto;
    border-radius: 10px;
    background-color: #00A7E1;
}

.skill-img {
    height: 100px;
    width: 100px;
    margin: 15px;
}

#skills .link-to-top {
    color: #FFFFFF;
}

@media (min-width: 700px) {
    #skills .link-to-top:hover {
        color: #00A7E1;
    }
}

@media (max-width: 700px) {
    #skills {
        padding: 40px 20px 60px 20px;
    }

    .skills-title {
        font-size: 50px;
    }

    .skills-list {
        width: 85%;
        margin: 50px auto 40px auto;
    }

    .skill-img {
        height: 60px;
        width: 60px;
    }

    #skills .link-to-top:active {
        color: #00A7E1;
    }
}

/*      Contact     */

#contact {
    padding: 50px 80px 20px 80px;
    text-align: center;
}

.contact-title {
    font-size: 60px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 2px solid #003459;
}

.contact-info {
    font-size: 30px;
    padding: 0;
    margin: 20px;
}

.my-email {
    text-decoration: none;
    color: #00A7E1;
}

.contact-logo {
    height: 70px;
    width: 70px;
    margin: 10px 30px 50px 30px;
}

#contact .link-to-top {
    color: #003459;
}

@media (min-width: 700px) {
    .my-email:hover {
        color: #007EA7;
    }

    #contact .link-to-top:hover {
        color: #00A7E1;
    }
}

@media (max-width: 700px) {
    #contact {
        padding: 40px 20px 60px 20px;
    }

    .contact-title {
        font-size: 50px;
    }

    .contact-detail {
        display: none;
    }

    .contact-logo {
        height: 50px;
        width: 50px;
        margin: 15px 10px 40px 10px;
    }

    .contact-info {
        font-size: 24px;
    }

    .my-email:active {
        color: #007EA7;
    }

    #contact .link-to-top:active {
        color: #00A7E1;
    }
}

/*      Modals      */

.modal {
    overflow: scroll;
    background-color: #00171F;
    height: 100%;
    width: 100%;
    color: #00A7E1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.modal-one {
    display: none;
}

.modal-two {
    display: none;
}

.modal-three {
    display: none;
}

.outer-modal {
    padding: 0 40px;
}

.inner-modal {
    background-color: #00171F;
}

.modal-title {
    font-size: 70px;
    padding-bottom: 20px;
    border-bottom: 2px solid #00A7E1;
}

.modal-left {
    width: 50%;
    float: left;
}

.modal-right {
    width: 50%;
    float: right;
}

.modal-subtitle {
    padding-bottom: 20px;
    margin: auto;
    width: 80%;
    font-size: 35px;
}

.modal-desc {
    margin-top: -10px;
    padding: 0 20px;
    font-size: 25px;
}

.modal-tech {
    padding: 0 100px;
    font-size: 25px;
}

.modal-link {
    display: block;
    text-decoration: none;
    width: max-content;
    margin: auto;
    color: #FFFFFF;
    font-size: 20px;
}

.modal-link:hover {
    color: #00A7E1;
}

.close-modal {
    font-size: 20px;
    width: max-content;
    margin: 450px auto 0 auto;
    color: #FFFFFF;
}

.close-modal:hover {
    cursor: pointer;
    color: #00A7E1;
}

@media (max-width: 700px) {
    .outer-modal {
        padding: 0 20px;
    }

    .modal-left {
        width: 100%;
        float: none;
    }

    .modal-right {
        display: none;
    }

    .modal-subtitle {
        font-size: 40px;
    }

    .modal-desc {
        margin-bottom: 40px;
    }

    .close-modal {
        margin: auto;
    }
}