body {
    color: #003459;
    background-color: #FFFFFF;
    padding: 0;
}

#navBar {
    margin-top: -10px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 300px 1fr 450px;
}

.nav-name {
    grid-column: 1;
    font-size: 30px;
}

.nav-list-container {
    grid-column: 3;
    display: flex;
    justify-content: center;
    text-align: right;
}

.nav-single-item {
    list-style: none;
    display: inline;
    margin: auto 0 auto 20px;
    font-size: 25px;
}

.nav-link {
    text-decoration: none;
    color: #003459;
}

.nav-link:hover {
    color: #00A7E1;
}

/*      Introduction        */

#intro {
    padding: auto 50px;
    text-align: center;
    margin: 150px auto 200px auto;
}

.intro-title {
    font-size: 60px;
}

.intro-action {
    font-size: 45px;
}

.intro-link {
    display: block;
    margin: 50px auto;
    font-size: 25px;
    width: 150px;
    padding: 20px;
    background-color: #003459;
    text-decoration: none;
    color: #FFFFFF;
}

.intro-link:hover {
    background-color: #00A7E1;
}

/*      About       */

#about {
    padding: auto 50px;
    position: absolute;
    text-align: center;
    background-color: #003459;
    color: #FFFFFF;
    left: 0;
    right: 0;
}

.about-title {
    font-size: 60px;
    width: 90%;
    margin: 50px auto;
    padding-bottom: 30px;
    border-bottom: 2px solid #FFFFFF;
}

.about-message {
    font-size: 40px;
    padding: 0 100px;
}